body {
    background-color: #000;
    color: #5487ff;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
    /*float: right;*/
}

ul {
    list-style: none;
    padding: 0;
}

.guess {
    display: inline;
    border: solid 3px black;
    border-radius: 5px;
    font-size: 5em;
    padding: 0 25px;
}

img {
    display: inline;
    width: 200px;
    height: 100px;
}

#headers{

}

#footer {
    width: 100%;
    border-top: solid 2px black;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    display: block;
}

#footer > .col-sm-4 {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}