@font-face {
    font-family: Robo;
    src: url('fonts/ROBO.ttf');
}

body {
    font-family: 'Open Sans', HelveticaNeue, ArialBlack, Open Sans sans-serif;
    background: url('img/question mark background 2-01.jpg') no-repeat center center fixed;
    background-origin: border-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 300px;
}

.container-fluid {
    padding: 0;
}

#app {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 30px 30px;
    padding: 20px 10px 30px 10px;
    border-radius: 30px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
    /*float: right;*/
}

.btn {
    font-weight: bold;
}

#headers{
}

#title {
    font-family: Robo, HelveticaNeue, ArialBlack, Open Sans sans-serif;
}

#subtitle {
    font-weight: bold;
    font-size: 25px;
}

#input-parent {
    margin: 30px;
    position: relative;
}

#input-title {
    color: #4286f4;
    font-weight: bolder;
}

#player-input {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 2px solid #4286f4;
    font-size: 5em;
}

#test-circle {


}

#submit-button {
    border-radius: 25px;
    border: 1px inset #4286f4;
    background-color: #4286f4;
    position: absolute;
    bottom: 10px;
    right: 30%;
}

#guesses {
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
}

.guess {
    display: inline;
    border: solid 3px black;
    border-radius: 5px;
    font-size: 5em;
    padding: 0 40px;
    background-color: #fff;
}

#reset-button, #hint-button {
    color: #fff;
}

#reset-button {
    background-color: #f44242;
}

#hint-button {
    background-color: #b78d0e;
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;

}

#footer .row {
    border-top: solid 2px black;
    margin: 0 auto;
    display: block;
    background-color: #fff;
    clear: both;
    width: 100%;
}

#footer .col-sm-4 {
    text-align: center;
    margin: 0 auto;
    padding: 15px 0 0 0;
    height: 100px;
}

#footer img {
    display: inline;
    width: 250px;
}